*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
:where(blockquote,figure):where([class]) {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

input,
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    line-height: 1.5;
}

:where( h1, h2, h3, h4, h5, h6, p, ul, ol, dl ):where([class]) {
    margin-block: 0;
}

main label {
    width: 100%;
    margin-top: 10px;
    display: block;
}

main input:not([type="submit"]) {
    width: 90%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    margin-top: 7px;
}

    main input:not([type = "submit"]):focus {
        border: 1px solid #ff0000;
    }

body {
    background-color: #F5F5F5;
    font-family: Montserrat
}

header {
    width: 100%;
    padding: 15px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    border-bottom: 2px solid #000;
}

footer {
    margin-top: 150px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background: #333;
    border-top: 2px solid #000;
}

.links a {
    padding: 10px;
    color: aliceblue;
    text-decoration-color: black;
    text-decoration-line: none;
}
